{% extends 'gymstats/base_gym_problems.html' %}

{% block title %}Session - Add Problems{% endblock %}

{% block item_info %}
<form method="post" style="display: flex; margin: 5px;">
    {% csrf_token %}
    <input type="hidden" id="pb-id" name="pb-id" value="{{ pb.id }}" />
    <select id="achievement" name="achievement" style="margin-right: 5%;">
        <option value="">---</option>
        <option value="top">Top</option>
        <option value="zone">Zone</option>
        <option value="fail">Fail</option>
    </select>
    <input id="attempts" name="attempts" type="text", placeholder="try.." style="width: 25%;margin-right: 5%;"></input>
    <button type="submit">🚀</button>
</form>
{% endblock %}
