{% extends 'gymstats/base.html' %}

{% load static %}
{% load custom_filters %}
{% load pb_extras %}


{% block css %}
<link rel="stylesheet" href="{% static 'gymstats/gym_problems.css' %}?ver=1.0">
{{ message|json_script:'message' }}
{% endblock %}


{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'gymstats/collapsible.js' %}?ver=2.2.0" defer></script>
{% endblock %}

{% block content %}
<div class="sector-map" style="display:flex;justify-content: center;">
    {% for img in sectors_img %}
    <img src={{ img }}
        alt="Boulder picture"
        width="45%"
        height="45%"
        style="margin: 20px">
    {% endfor %}
</div>

<div class="problems">
    <h1>Boulder Problems</h1>
    {% for section, title in sections.items %}
    {% if problems|section_has_problems:section %}
        <button type="button" class="collapsible">{{ title }}</button>
        <div class="content">
            <ul class="gallery"> 
                {% for pb in problems|section_problems:section %}
                <li class="gallery-item">
                    <a href="{% url 'gs:pb-details' pb.id %}">{{ pb|gallery_display }}</a>
                    <img src={{ pb.picture.url }}
                        alt="Boulder picture"
                        width="95%"
                        height="95%">
                    {% block item_info %}
                    {% endblock %}
                </li>
                {% endfor %}  
            </ul>
        </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}
