{% load pb_extras %}
<h1>{{ problem|display }}</h1>
<img src={{ problem.picture.url }}
     alt="Boulder picture"
     width="400"
     height="503">

<span>
    <h3>Handholds</h3>
    <ul>
        {% for desc in problem.hand_holds.all %}
            <li>{{ desc.name }}</li>
        {% endfor %}
    </ul>
</span>
<span>
    <h3>Footworks</h3>
    <ul>
        {% for desc in problem.footwork.all %}
            <li>{{ desc.name }}</li>
        {% endfor %}
    </ul>
</span>
<span>
    <h3>Methods</h3>
    <ul>
        {% for desc in problem.problem_method.all %}
            <li>{{ desc.name }}</li>
        {% endfor %}
    </ul>
</span>

<form action="{% url 'gs:pb-review' problem.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h2>Review problem</h2></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div>
        <textarea id="comment" name="comment"
        rows="3" cols="33">Comment here...</textarea>
    </div>
    <div>
        <label for="rating"><strong>Rating</strong></label>
        <input type="range" max="5" step="1" value="0" id="rating" name="rating">
    </div>       
    </select>
</fieldset>
<input type="submit" value="Submit">
</form>