{% extends 'gymstats/base.html' %}

{% load static %}
{% load pb_extras %}

{% block css %}
<link rel="stylesheet" href="{% static 'gymstats/review.css' %}?ver=1.0">
<link rel="stylesheet" href="{% static 'gymstats/calendar.css' %}?ver=1.1.0">
<link rel="stylesheet" href="{% static 'gymstats/problem.css' %}?ver=1.1.0">
<link rel="stylesheet" href="{% static 'gymstats/tagslist.css' %}?ver=1.1.0">
{{ sessions|json_script:'sessions' }}
{{ problem.date_added|json_script:'date' }}
{% endblock %}

{% block title %}Problem{% endblock %}

{% block scripts %}
<script src="{% static 'gymstats/calendar.js' %}" defer></script>
<script src="{% static 'gymstats/problem.js' %}?ver=1.1.0" defer data-rating="{{rating}}" data-status="{{status}}" data-grade="{{problem.grade}}"></script>
{% endblock %}

{% block content %}
<h2>{{ problem.sector }}</h2>

<div class="summary">
    <div class="col rating-col">
        <center class="emoji">&#11088;</center>
        <center>{{rating}}<center>
    </div>
    <div class="col grade-col">
        <center class="emoji"></center>
        <center></center>
    </div>
    <div class="col achievement-col">
        <center class="emoji"></center>
        <center>{{ status }}<center>
    </div>
</div>

<img src={{ problem.picture.url }}
        alt="Boulder picture"
        width="450"
        height="560">

<ul class="tagslist">
    <li class="small ty">{{ problem.problem_type }}</li>
    {% for desc in problem.hand_holds.all %}
        <li class="small hh">{{ desc.name }}</li>
    {% endfor %}
    {% for desc in problem.footwork.all %}
        <li class="small fw">{{ desc.name }}</li>
    {% endfor %}
    {% for desc in problem.problem_method.all %}
        <li class="small me">{{ desc.name }}</li>
    {% endfor %}
</ul>

<div class="calendar-wrapper">
    <header>
        <p class="date"></p>
        <div class="icons">
            <span id="prev" class="material-symbols-rounded">chevron_left</span>
            <span id="next" class="material-symbols-rounded">chevron_right</span>
        </div>
    </header>
    <div class="calendar">
        <ul class="weeks">
            <li>Sun</li>
            <li>Mon</li>
            <li>Tue</li>
            <li>Wed</li>
            <li>Thu</li>
            <li>Fri</li>
            <li>Sat</li>
        </ul>
        <ul class="days" id="days">
        </ul>
    </div>
</div>

<form action="{% url 'gs:pb-review' problem.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h2>Review problem</h2></legend>
        {% if review_error_message %}<p><strong>{{ review_error_message }}</strong></p>{% endif %}
        <div>
            <textarea id="comment" name="comment"
            rows="3" cols="33">Comment here...</textarea>
        </div>
        <div>
            <label for="rating"><strong>Rating</strong></label>
            <input 
                class="rating"
                type="range"
                max="5"
                oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)"
                step="1"
                id="rating"
                name="rating">
        </div>       
    </fieldset>
    <input type="submit" value="Submit">
</form>

<form action="{% url 'gs:pb-ric' problem.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h2>Evaluate RIC</h2></legend>
        {% if ric_error_message %}<p><strong>{{ ric_error_message }}</strong></p>{% endif %}
        <div>
            <label for="risk"><strong>Risk</strong></label>
            <input 
                class="rating"
                type="range"
                max="5"
                oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)"
                step="0.5"
                id="risk"
                name="risk">
            <label for="intensity"><strong>Intensity</strong></label>
            <input 
                class="rating"
                type="range"
                max="5"
                oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)"
                step="0.5"
                id="intensity"
                name="intensity">
            <label for="complexity"><strong>Complexity</strong></label>
            <input 
                class="rating"
                type="range"
                max="5"
                oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)"
                step="0.5"
                id="complexity"
                name="complexity">
        </div>       
    </fieldset>
    <input type="submit" value="Submit">
</form>
{% endblock %}
