{% extends 'gymstats/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'gymstats/searchbar.css' %}?ver=1.0">
{% endblock %}

{% block title %}Explorer{% endblock %}

{% block scripts %}
<script src="{% static 'gymstats/explorer.js' %}" defer></script>
{% endblock %}

{% block content %}
<h1 class="title"> <i class="fa fa-earth-europe"></i> Problem Explorer <i class="fa fa-earth-europe"></i></h1>
<form method=POST action="{% url 'gs:pb-searchresults' %}">
    {% csrf_token %}
    <input id="searchbar" class="searchbar" type="search"
    name="search" placeholder="Search problems..">
</form>
{% endblock %}