{% extends 'gymstats/base.html' %}

{% load static %}
{% load session_extras %}

{% block css %}
<link rel="stylesheet" href="{% static 'gymstats/session.css' %}">
<link rel="stylesheet" href="{% static 'gymstats/tab.css' %}">
{{ sess_data|json_script:'sessData' }}
{% endblock %}

{% block title %}{{session}}{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'gymstats/session.js' %}?ver=1.0.2" type="module" defer></script>
<script src="{% static 'gymstats/change_tab.js' %}?ver=1.0" defer></script>
{% endblock %}

{% block content %}
<header class="title">
    <p>{{ session|title }}</p>
</header>

<div class="summary">
</div>

<div class="stats-wrapper">
    <div class="tab">
        <button class="tablinks" data-id="grades" id="defaultOpen">Grades</button>
        <button class="tablinks" data-id="types">Types</button>
        <button class="tablinks" data-id="holds">Holds</button>
    </div>

    <div id="grades" class="statstab">
        <canvas id="pb-grades"></canvas>
    </div>
    <div id="types" class="statstab">
        <canvas id="pb-types"></canvas>
    </div>
    <div id="holds" class="statstab">
        <canvas id="pb-holds"></canvas>
    </div>
</div>
{% endblock %}
