{% load static %}
{% load session_extras %}

{{ sess_data|json_script:'sessData' }}

<link rel="stylesheet" href="{% static 'gymstats/session.css' %}">
<link rel="stylesheet" href="{% static 'gymstats/shared.css' %}">

<head>
    <meta charset="utf-8">
    <title>{{session}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Font Link for Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://kit.fontawesome.com/5bda19242b.js" crossorigin="anonymous"></script>
    <script src="{% static 'gymstats/session.js' %}?ver=1.0" type="module" defer></script>
</head>

<body>
    <script src="{% static 'gymstats/sidebar.js' %}"?ver=1.0 defer></script>
    <div class="w3-sidebar w3-bar-block w3-white w3-xlarge" style="width: 70px;"></div>

    <div class="wrapper">
        <header class="title">
            <p>{{ session|title }}</p>
        </header>

        <div class="summary">    
        </div>

        <div class="stats-wrapper">
            <div class="tab">
                <button class="tablinks" onclick="showGraphics(event, 'grades')"  id="defaultOpen">Grades</button>
                <button class="tablinks" onclick="showGraphics(event, 'types')">Types</button>
                <button class="tablinks" onclick="showGraphics(event, 'holds')">Holds</button>
            </div>
        
            <div id="grades" class="statstab">
                <canvas id="pb-grades"></canvas>
            </div>
            <div id="types" class="statstab">
                <canvas id="pb-types"></canvas>
            </div>
            <div id="holds" class="statstab">
                <canvas id="pb-holds"></canvas>
            </div>
        
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script>
                function showGraphics(evt, statsName) {
                    // Declare all variables
                    var i, tabcontent, tablinks;
        
                    // hide 'statstab'
                    statstab = document.getElementsByClassName("statstab");
                    for (i = 0; i < statstab.length; i++) {
                        statstab[i].style.display = "none";
                    }
        
                    // Get all elements with class="tablinks" and remove the class "active"
                    tablinks = document.getElementsByClassName("tablinks");
                    for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                    }
        
                    // Show the current tab, and add an "active" class to the button that opened the tab
                    document.getElementById(statsName).style.display = "block";
                    evt.currentTarget.className += " active";
                }
                document.getElementById("defaultOpen").click();
            </script>
        </div>
    </div> 


</body>




