

.filters {
    margin-left: 80px;
    padding-top: 15px;
}

.filters form {
    display: flex;
}

.filters .left {
    margin-right: 3%;
}

.filters .title {
    padding-right: 30px;
    color: #fff;
    align-self: center;
    font-size: 2em;
    height: 30px;  
    line-height: 30px;
  }

.filters .title a {
    cursor: pointer;
    font-size: 0.5em;
    border-color: #fff;
    border-radius: 70%;
    padding: 3px;
}

.filters .title a:hover {
    background-color: #fff;
    color: black;
}

.filters .filter-bloc {
    display: flex;
    flex-direction: row;
}

.parse-errors {
    margin-left: 80px;
}

.statistics {
    margin-left: 80px;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
}

.statistics table {
    margin-right: 5%;
}

.statistics table, th, td {
    border: 1px solid white;
    padding: 5px;
    color: white;
}

.wrapper {
    margin-left: 90px;
}