
.title {
    width: 450px;
    background: #fff;
    color: black;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(21, 21, 21, 0.12);
    margin-bottom: 1%;
  }

  .title p {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
    font-size: 1.45rem;
    font-weight: 500;
  }

  .summary {
    display: flex; /* equal height of the children */
    background-color: #fff;
    color: black;
    border-radius: 10px;
    width: 450px;
    margin-bottom: 1%;
  }

  .stats-wrapper {
    background-color: #fff;
    width: 450px;
  }
  
  .col {
    flex: 1; /* additionally, equal width */
    padding: 1em;
  }

  .emoji{
    font-size:40px;
  }